.FormCard {
    background-color: #c61a1a;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

label {
    font-size: 1.3rem;
}
select {
    margin-left: 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 150px;
    background-color: #c9c9c9;
    outline: none;
}